<div class="pj">
    <img class="projectTileFileGate" src="https://raw.githubusercontent.com/BillyJoelsNightmareExplosion/BillyJoelsNightmareExplosion.github.io/master/_files/photos/portfolio/film-gate.png" style="width:auto;">
    <h1 class="projectTileFilmText">{{ include.film-text }}</h1>
    <div class="projectTile">
        <a href="{{ include.href }}" class="fill-div">
            <img class="projectTileImage" src="{{ include.img-src }}" >
            <h1 class="projectTileLabel">{{ include.label }}</h1>
            <i class="fa fa-external-link-square disabled"></i>
        </a>
    </div>
</div>